

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@import "tailwindcss";
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
html, body,#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
/* .gradient-hover {
  background: linear-gradient(135deg, #6A3CBC, #C13584, #F77737);
    background-clip: text;
  -webkit-background-clip: text;
 color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
}

.gradient-hover:hover {
  background: linear-gradient(135deg, #7B4DCC, #D14694, #FF8844);
} */

